body{
  background: linear-gradient(to right, #383838, #111111);
}
.container{
  margin: auto;
  width: 400px;
}
.calc{
  margin-top: 20px;
  padding: 20px;
  background-color: #404040;
  border-radius: 20px;
}
.screen{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  height: 60px;
  padding: 5px 15px 5px 15px;
  background-color: #303030;
  border-radius: 5px;
  justify-content: flex-end;
  color: whitesmoke;
  font-size: 32px;
  overflow-x: hidden;
}
.btns{
  display: flex;
  flex-direction: column;
}
.small-btns{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.nums{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.ops{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ops button{
  width: 94%;
}
button{
  border:none;
  border-radius: 5px;
  margin:2px;
  min-height: 60px;
  min-width: 60px;
  font-size: 24px;
  background-color: #949494;
  cursor: pointer;
}
.clear-del{
  display: flex;
  justify-content: space-between;
}
.clear-del button{
  width:50%;
}
.dec-equal{
  display: flex;
  justify-content: space-between;
}
.dec-equal button{
  width: 50%;
}
.dec{
  font-weight: bold;
}
